In [1]:
import pandas as pd
import re

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
df = pd.read_csv("all_schools_raw.tsv", sep="\t")
df = df[["School", "Conference", "Tournament appearances", "Final Four appearances", "Championship wins"]]
df = df.loc[df.Conference.isin(["America East", "The American", "ACC", "Big 12", "Horizon League", "Mountain West"])].reset_index(drop=True)
df.index = df.index + 1
df.columns = ["School", "Conference", "Tournaments", "FinalFours", "Championships"]
df

,School,Conference,Tournaments,FinalFours,Championships
1,"University at Albany, SUNY (Albany or UAlbany)",America East,"(5) 2006, 2007, 2013, 2014, 2015",(0),(0)
2,Binghamton University,America East,(1) 2009,(0),(0)
3,Bryant University,America East,(1) 2022,(0),(0)
4,University of Maine (UMaine),America East,(0),(0),(0)
5,"University of Maryland, Baltimore County (UMBC)",America East,"(2) 2008, 2018",(0),(0)
...,...,...,...,...,...
67,San Diego State University (SDSU),Mountain West,"(16) 1975, 1976, 1985, 2002, 2006, 2010, 2011, 2012, 2013, 2014, 2015, 2018, 2021, 2022, 2023, 2024",(1) 2023,(0)
68,San Jose State University,Mountain West,"(3) 1951, 1980, 1996",(0),(0)
69,"University of Nevada, Las Vegas (UNLV)",Mountain West,"(20) 1975, 1976, 1977, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1998, 2000, 2007, 2008, 2010, 2011, 2012, 2013","(4) 1977, 1987, 1990, 1991",(1) 1990
70,Utah State University,Mountain West,"(24) 1939, 1962, 1963, 1964, 1970, 1971, 1975, 1979, 1980, 1983, 1988, 1998, 2000, 2001, 2003, 2005, 2006, 2009, 2010, 2011, 2019, 2021, 2023, 2024",(0),(0)
71,University of Wyoming,Mountain West,"(16) 1941, 1943, 1947, 1948, 1949, 1952, 1953, 1958, 1967, 1981, 1982, 1987, 1988, 2002, 2015, 2022",(1) 1943,(1) 1943

In [4]:
re.sub("\D", "", "2007*")

'2007'

In [5]:
test = "(5) 2006, 2007*, 2013, 2014vacated, 2015"

def process_string(s):
    s = s.replace(",", " ")
    l = s.split()[1:]
    l = [int(re.sub("\D", "", y)) for y in l]
    return [year for year in l if year > 1985]

process_string(test)

[2006, 2007, 2013, 2014, 2015]

In [6]:
df["Tournaments"] = df["Tournaments"].map(process_string)
df["FinalFours"] = df["FinalFours"].map(process_string)
df["Championships"] = df["Championships"].map(process_string)

In [11]:
df.loc[df.Conference == "Mountain West"]

,School,Conference,Tournaments,FinalFours,Championships
61,United States Air Force Academy (Air Force),Mountain West,"[2004, 2006]",[],[]
62,Boise State University,Mountain West,"[1988, 1993, 1994, 2008, 2013, 2015, 2022, 2023, 2024]",[],[]
63,Colorado State University,Mountain West,"[1989, 1990, 2003, 2012, 2013, 2022, 2024]",[],[]
64,"California State University, Fresno (Fresno State)",Mountain West,"[2000, 2001, 2016]",[],[]
65,"University of Nevada, Reno (Nevada, UNR)",Mountain West,"[2004, 2005, 2006, 2007, 2017, 2018, 2019, 2023, 2024]",[],[]
66,University of New Mexico (UNM),Mountain West,"[1991, 1993, 1994, 1996, 1997, 1998, 1999, 2005, 2010, 2012, 2013, 2014, 2024]",[],[]
67,San Diego State University (SDSU),Mountain West,"[2002, 2006, 2010, 2011, 2012, 2013, 2014, 2015, 2018, 2021, 2022, 2023, 2024]",[2023],[]
68,San Jose State University,Mountain West,[1996],[],[]
69,"University of Nevada, Las Vegas (UNLV)",Mountain West,"[1986, 1987, 1988, 1989, 1990, 1991, 1998, 2000, 2007, 2008, 2010, 2011, 2012, 2013]","[1987, 1990, 1991]",[1990]
70,Utah State University,Mountain West,"[1988, 1998, 2000, 2001, 2003, 2005, 2006, 2009, 2010, 2011, 2019, 2021, 2023, 2024]",[],[]
71,University of Wyoming,Mountain West,"[1987, 1988, 2002, 2015, 2022]",[],[]